html, body
  padding: 0
  margin: 0

.main-text-header
  color: #000000
  font-family: Times New Roman, sans-serif
  font-size: 21px
  font-style: normal
  font-weight: normal
  line-height: 28px
  letter-spacing: -0.442px
  @media screen and (max-width: 576px)
    font-size: 9px
    line-height: 12px
.main-text
  color: #000000
  font-family: Times New Roman, sans-serif
  font-size: 21px
  font-style: normal
  font-weight: normal
  line-height: 28px
  letter-spacing: -0.442px
  @media screen and (max-width: 576px)
    font-size: 9px
    line-height: 12px


.text-center
  text-align: center

.text-bold
  font-weight: bold
.highcharts-layout-fix
  .highcharts-plot-line-label
    margin-left: -16px !important
  .highcharts-data-label
    span
      font-family: SF Pro Text, sans-serif
      font-size: 16px
      font-style: normal
      font-weight: 700
      line-height: 20px
      letter-spacing: -0.32px
      @media screen and (max-width: 576px)
        font-size: 7px !important
        line-height: 8.75px !important
.full-width
  width: 100% !important
  max-width: fill-available